<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Tikay - Contacto</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- templatemo 339 graphite -->
<!-- 
Graphite Template 
http://www.templatemo.com/preview/templatemo_339_graphite 
-->
<link href="static/css/templatemo_style.css" rel="stylesheet" type="text/css" />

<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

<link rel="stylesheet" type="text/css" href="static/css/ddsmoothmenu.css" />

<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
    mainmenuid: "templatemo_menu", //menu DIV id
    orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
    classname: 'ddsmoothmenu', //class added to menu's outer DIV
    //customtheme: ["#1c5a80", "#18374a"],
    contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>

<!--////// CHOOSE ONE OF THE 3 PIROBOX STYLES  \\\\\\\-->
<link href="static/css_pirobox/white/style.css" media="screen" title="shadow" rel="stylesheet" type="text/css" />
<!--<link href="css_pirobox/white/style.css" media="screen" title="white" rel="stylesheet" type="text/css" />
<link href="css_pirobox/black/style.css" media="screen" title="black" rel="stylesheet" type="text/css" />-->
<!--////// END  \\\\\\\-->

<!--////// INCLUDE THE JS AND PIROBOX OPTION IN YOUR HEADER  \\\\\\\-->
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/piroBox.1_2.js"></script>
<script type="text/javascript">
$(document).ready(function() {
$().piroBox({
        my_speed: 600, //animation speed
        bg_alpha: 0.5, //background opacity
        radius: 4, //caption rounded corner
        scrollImage : false, // true == image follows the page, false == image remains in the same open position
        pirobox_next : 'piro_next', // Nav buttons -> piro_next == inside piroBox , piro_next_out == outside piroBox
        pirobox_prev : 'piro_prev',// Nav buttons -> piro_prev == inside piroBox , piro_prev_out == outside piroBox
        close_all : '.piro_close',// add class .piro_overlay(with comma)if you want overlay click close piroBox
        slideShow : 'slideshow', // just delete slideshow between '' if you don't want it.
        slideSpeed : 4 //slideshow duration in seconds(3 to 6 Recommended)
});
});
</script>
<!--////// END  \\\\\\\-->
  
</head>
<body id="sub_page">
<div id="templatemo_wrapper">
    <div id="templatemo_top">
        <div id="templatemo_login">
            <form action="{% url 'servicio:login' %}" method="post">  
            {% csrf_token %}          
              <input type="text" value="username" name="username" size="10" id="username" title="username" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
              <input type="password" value="password" name="password" size="10" id="password" title="password" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
              <input type="submit" name="Search" value="" alt="Search" id="searchbutton" title="Search" class="sub_btn"  />
            </form>
        </div>
    </div> <!-- end of top -->
    
    <div id="templatemo_header">
        <div id="site_title">
            <h1><a href="#">Tikay Representaiones S.A.C.</a></h1>
        </div>
        <div id="templatemo_menu" class="ddsmoothmenu">
            <ul>
                <li><a href="{% url 'servicio:index' %}">Home</a>
            <!--    <li><a href="about.html">Sobre</a> -->
                <li><a href="{% url 'servicio:sobre' %}">Sobre</a>
                    <ul>
                      <!--  <li><a href="#">Sub menu 1</a></li>
                        <li><a href="#">Sub menu 2</a></li>
                        <li><a href="#">Sub menu 3</a></li> -->
                    </ul>
                </li>
                <li><a href="{% url 'servicio:servicio' %}">Servicios</a>
                    <ul>
                        <li><a href="{% url 'servicio:psicologia' %}">Psicología</a></li>
                        <li><a href="{% url 'servicio:comunicacion' %}">Comunicaciones</a></li>
                        <li><a href="{% url 'servicio:asesoria' %}">Asesoría Legal</a></li>
                        <li><a href="{% url 'servicio:importacion' %}">Importación</a></li>
                        <li><a href="{% url 'servicio:exportacion' %}">Exportación</a></li>
                        <li><a href="{% url 'servicio:capacitacion' %}">Capacitación</a></li>
                    </ul>
                </li>
                <li><a href="#">Usuario</a>
                    <ul>
                    <!--    <li><a href="{% url 'usuario:registrar' %}">Cadastrese</a></li> -->
                        <li><a href="{% url 'servicio:cadastro' %}">Cadastrese</a></li>
                    <!--    <li><a href="#">Login</a></li> -->
                        <li><a href="{% url 'servicio:Crear' %}">Solicitar Servicios</a></li>
                        <li><a href="{% url 'servicio:solicitud' %}">Servicios Solicitados</a></li>
                        <li><a href="{% url 'servicio:logout' %}">Logout</a></li>                        
                    </ul>
                </li>
                <li><a href="{% url 'servicio:contacto' %}">Contacto</a>
            </ul>
            <br style="clear: left" />
        </div> <!-- end of templatemo_menu -->
    </div> <!-- end of header -->
 
    <div id="templatemo_main">
        <h2>La información de Cadastro</h2>
        <div class="col_w630 float_l">
            
             <div id="contact_form">
        
                <h4>Entre con tus datos...</h4>
                
                <form method="post" name="contact" action="{% url 'servicio:cadastrar' %}">
                {% csrf_token %}  
                    
                    <label for="nombre">Nombre:</label> <input type="text" id="nombre" name="nombre" class="required input_field" />
                    <div class="cleaner h10"></div>

                    <label for="apellido">Apellidos:</label> <input type="text" id="apellido" name="apellido" class="required input_field" />
                    <div class="cleaner h10"></div>

                    <label for="email">Correo:</label> <input type="text" class="validate-email required input_field" name="correo" id="correo" />
                    <div class="cleaner h10"></div>
                                                            
                    <label for="telefono">Teléfono:</label> <input type="text" class="validate-telefono required input_field" name="telefono" id="telefono"/>                            
                    <div class="cleaner h10"></div>

                    <label for="celular">Celular:</label> <input type="text" class="validate-celular required input_field" name="celular" id="celular"/>                            
                    <div class="cleaner h10"></div>

                    <label for="usuario">Nombre de usuario:</label> <input type="text" class="validate-usuario required input_field" name="usuario" id="usuario"/>                            
                    <div class="cleaner h10"></div>

                    <label for="contrasena1">Contraseña:</label> <input type="password" class="validate-contrasena1 required input_field" name="contrasena1" id="contrasena1"/>                           
                    <div class="cleaner h10"></div>

                    <label for="contrasena2">Confirmar contraseña:</label> <input type="password" class="validate-contrasena2 required input_field" name="contrasena2" id="contrasena2"/>                     
                    <div class="cleaner h10"></div>

                    <input type="submit" value="Cadastrar" id="submit" name="submit" class="submit_btn float_l" />
                    <input type="reset" value="Reset" id="reset" name="reset" class="submit_btn float_r" />
                                        
                </form>
        
            </div> 
        </div>
        
        <div class="col_w300 float_r">
            <div class="col_fw">    
                <h4>Dirección Postal</h4>
                <h6><strong>Tikay Representaciones S.A.C.</strong></h6>
                Av. Costanera, 2360 A-23 <br />
                San Miguel<br />
                Distrito de Lima 15087, Perú<br /><br />
                
                <strong>Teléfono:</strong> (01)-363-7156<br />
                <strong>Telular:</strong> 999092140<br />
                <strong>Correo:</strong> <a href="mailto:info@tikay.com">info@tikay.com</a>
            </div>            
            <div class="col_fw_last">
                <h4>Ubicación</h4>
                <div id="map"><a class="pirobox" href="static/images/mapa_big.jpg" title="Nuestra Ubicación"><img src="static/images/mapa_tumb.png" alt="Nuestra Ubicación" /></a></div>                
            </div>
        </div>

        <div class="cleaner"></div>
    </div> <!-- end of main -->
</div> <!-- end of wrapper -->

<div id="templatemo_footer_wrapper">
    <div id="templatemo_footer">
        Copyright © 2017 <a href="#">Tikay Representaciones S.A.C.</a>
        <div class="cleaner"></div>
    </div>
</div> 
  
</body>
</html>